# UPV Car Share project environment variables
# ------------------------------------------------------------------------------

# Common vars
# ------------------------------------------------------------------------------
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=dummy
UPV_LOGIN_DATA_USERNAME=username
UPV_LOGIN_DATA_PASSWORD=password

# Using Oracle connection
# ------------------------------------------------------------------------------
ORACLE_HOME=/path/to/oracle
VERSION=12.1.0.2.0
ARCH=x86_64
ORACLE_SID=sip
DATABASE_URL=oraclegis://{user}:{password}@{server}:{port}/{sid}

# Using local database
# ------------------------------------------------------------------------------
DATABASE_URL=postgis://postgres:potato@localhost:5432/upvcarshare


# Enable this for testing
# ------------------------------------------------------------------------------
# SPATIALITE_LIBRARY_PATH=mod_spatialite
