{% load i18n %}
{% load journeys_tags %}
{% if not journey_item.needs_driver and not journey_item|is_passenger:request.user and journey_item.are_there_free_places %}
    <form method="post" action="{% url "journeys:join" journey_item.pk %}" {% if journey_item.has_recurrence %}join-journey-form journey-id="{{ journey_item.pk }}"{% endif %}>
        {% csrf_token %}
        <input type="hidden" name="return_to" value="{{ request.path }}">
        {% if journey_item.disabled or passenger.status == UNKNOWN or passenger.status == REJECTED %}
            {% if passenger.status == UNKNOWN %}
                <button type="button" disabled="disabled" class="btn btn-secondary">{% trans "Esperando confirmación" %}</button>
            {% elif passenger.status == REJECTED %}
                <button type="button" disabled="disabled" class="btn btn-secondary">{% trans "Rechazado" %}</button>
            {% else %}
              <button type="button" disabled="disabled" class="btn btn-secondary">{% trans "Unirse" %}</button>
            {% endif %}
        {% else %}
          {% if not journey_item.has_recurrence %}
            <input type="hidden" name="join_to" value="one">
            <button type="submit" class="btn btn-success">{% trans "Unirse" %}</button>
          {% else %}
            {# --- START modal for all or one journey --- #}
            {% include "journeys/blocks/join.all.one.html" %}
            {# --- END for all or one journey --- #}
            <input type="hidden" name="join_to" ng-value="joinToValue">
            <button type="submit" class="btn btn-success">{% trans "Unirse" %}</button>
          {% endif %}
        {% endif %}
    </form>
{% elif not journey_item.needs_driver and journey_item|is_passenger:request.user %}
    <form method="post" action="{% url "journeys:leave" journey_item.pk %}" {% if journey_item.has_recurrence %}leave-journey-form journey-id="{{ journey_item.pk }}"{% endif %}>
        {% csrf_token %}
        <input type="hidden" name="return_to" value="{{ request.path }}">
        {% if not journey_item.has_recurrence %}
            <input type="hidden" name="leave_from" value="one">
            <button type="submit" class="btn btn-danger">{% trans "Abandonar" %}</button>
        {% else %}
            <script type="text/ng-template" id="leave-all-one.html">
                <div class="modal-body text-xs-center">
                    <p class="lead">{% trans "Esté viaje tiene más de una ocurrencia, ¿quieres abandonar todos o sólo este?" %}</p>
                    <button class="btn btn-lg btn-danger" type="button" ng-click="cancel($event)">{% trans "Cancelar" %}</button>
                    <button class="btn btn-lg btn-success" type="button" ng-click="one($event)">{% trans "Abandonar sólo este" %}</button>
                    <button class="btn btn-lg btn-success" type="button" ng-click="all($event)">{% trans "Abandonar todos" %}</button>
                </div>
            </script>
            <input type="hidden" name="leave_from" ng-value="leaveFromValue">
            <button type="submit" class="btn btn-danger">{% trans "Abandonar" %}</button>
        {% endif %}
    </form>
{% endif %}
