{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load core_tags %}

{% block header %}
    <div class="container section-ribbon">
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-5 red"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-1 red"></div>
        </div>
    </div>
    <div class="container section-main-title">
        <div class="row">
            <div class="col-sm-7">
                <img src="{% static "img/upv.png" %}">
            </div>
            <div class="col-sm-5 text-xs-right">
                <img src="{% static "img/logo.png" %}" alt="{% trans "PoliCar" %}" class="title">
            </div>
        </div>
    </div>
    {% block navbar %}
    <div class="container section-navbar">
        <nav class="navbar navbar-full navbar-dark bg-upv-dark-grey">
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav pull-xs-left">
                    <li class="nav-item {% add_active_class "journeys:list" %}">
                        <a class="nav-link" href="{% url "journeys:list" %}">
                            {% trans "Mis viajes" %}
                        </a>
                    </li>
                    <li class="nav-item {% add_active_class "notifications:list" %}">
                        <a class="nav-link" href="{% url "notifications:list" %}">
                            {% trans "Notificaciones" %}
                            {% if unread_notifications > 0 %}
                                <span class="tag tag-pill tag-danger">{{ unread_notifications }}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav float-xs-right">
                    <li class="nav-item {% add_active_class "journeys:search" %}">
                        <a class="nav-link" href="{% url "journeys:search" %}">{% trans "Buscador" %}</a>
                    </li>
                    <li class="nav-item {% add_active_class "journeys:recommended" %}">
                        <a class="nav-link" href="{% url "journeys:recommended" %}">{% trans "Recomendaciones" %}</a>
                    </li>
                    <li class="nav-item {% add_active_class "journeys:create" %} dropdown">
                      <a class="nav-link" href="{% url "journeys:create" %}">{% trans "Crear Viaje" %}</a>
                    </li>
                    <li class="nav-item {% add_active_class "users:edit,journeys:residences,journeys:transports,journeys:details,journeys:edit" %} dropdown">
                        <a class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            {{ request.user.get_full_name }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url "users:edit" %}">{% trans "Editar perfil" %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url "journeys:residences" %}">{% trans "Mis lugares" %}</a>
                            <a class="dropdown-item" href="{% url "journeys:transports" %}">{% trans "Mis transportes" %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url "users:sign-out" %}">{% trans "Salir" %}</a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav float-xs-right">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "users:sign-in" %}">{% trans "Acceder" %}</a>
                    </li>
                </ul>
            {% endif %}
        </nav>
    </div>
    {% endblock navbar %}
{% endblock header %}

{% block footer %}
    <footer>
        <div class="row">
            <div class="col-xs-7">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="http://www.upv.es/otros/como-llegar-upv/index-es.html" title="{% trans "Cómo llegar" %}">
                            {% trans "Cómo llegar" %}
                        </a>&nbsp;I
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.upv.es/plano/plano-2d-es.html" title="{% trans "Planos" %}">
                            {% trans "Planos" %}
                        </a>&nbsp;I
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.upv.es/otros/contacto-es.html" title="{% trans "Contacto" %}">
                            {% trans "Contacto" %}
                        </a>
                    </li>
                </ul>
                <p>Universitat Politècnica de València &copy; 2017 · Tel. (+34) 96 387 70 00 · <a href="mailto:informacion@upv.es">informacion@upv.es</a></p>
            </div>
            <div class="col-xs-2">
                <a href="http://www.campushabitat5u.com/" title="{% trans "CAMPUS HABITAT (abre ventana nueva)" %}" rel="external" onclick="target='_blank'">
                    <img src="{% static "img/campus_excelenciaH5.png" %}" alt="{% trans "CAMPUS HABITAT" %}">
                </a>
            </div>
            <div class="col-xs-2">
                <a href="http://www.vlc-campus.com/" title="{% trans "VLC-CAMPUS (abre ventana nueva)" %}" rel="external" onclick="target='_blank'">
                    <img src="{% static "img/campus_excelenciaVLC.png" %}" alt="{% trans "VLC-CAMPUS" %}">
                </a>
            </div>
            <div class="col-xs-1 text-xs-right">
                <a href="http://www.upv.es/entidades/AMAPUOC/" title="{% trans "EMAS" %}">
                    <img src="{% static "img/EMASupv.png" %}" alt="{% trans "EMAS upv" %}" width="33" height="62">
                </a>
            </div>
        </div>
    </footer>
{% endblock footer %}
