{% extends "header.html" %}
{% load i18n %}
{% load socialaccount %}

{% block navbar %}
    <div class="container">
        <div class="access-hero"></div>
    </div>
{% endblock navbar %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="access-title">{% trans "Compartir coche en la UPV" %}</h1>
        </div>
        <div class="col-xs-12 access-link">
            <a href="{% provider_login_url "openid" openid="https://yo.rediris.es/soy/@upv.es" next=next %}">
                [ {% trans "Acceso" %} ]
            </a>
        </div>
    </div>
{% endblock content %}
