// Palette colors
$upv-darker-grey: #333333;
$upv-dark-grey: #4B4B4B;
$upv-grey: #666666;
$upv-red: #CC0000;
$upv-blue: #495069;
$upv-orange: #AE320C;
$upv-green: #515B0B;
$upv-purple: #452637;
$upv-yellow: #3D344E;
